/* Write your CSS here */
.button-style-list {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  color: #0f172a;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-width: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #ffffff;
  cursor: pointer;
}
.border-style {
  border: solid 2px #0284c7;
  color: #0284c7;
}
